<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваше Название Сайта</title>
    <link rel="stylesheet" href="/styles.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Мой сайт</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <% if (isAuth) { %>
            <li class="nav-item">
                <a class="nav-link" href="/korzina">Korzina</a>
            </li>
        <% } %>


        <li class="nav-item">

            <!-- Ваши обычные ссылки навигации -->
            <% if (isAuth &&  user.role === 'Admin') { %>
              <a href="/adminPage?password=adminPassword">Admin Panel</a>
            <% } %>
         
        </li>
          



        <% if (isAuth) { %>
            
            <li class="nav-item ">
                <a class="nav-link" href="/logout">Log Out</a>
              </li>
        <% } %>
        <li class="nav-item">
          <form action="/quiz" method="GET">
            <button type="submit" id="startQuiz">Start Quiz</button>
          </form>
        </li>
        
    </ul>
</nav>

<div class="top-background-image"></div>

<div class="products-wrapper">
    <% products.forEach(function(product) { %>
      <div class="product-card">
        <div class="product-image">
            <a href="/product/<%= product.id %>">
                <img src="<%= product.image %>" alt="Product Image">


        </div>
        <div class="product-details">
          <h3 class="product-name"><%= product.title %></h3>
          <p class="product-price">KZT<%= product.price %></p>
         
        </a>
        </div>
      </div>
    <% }) %>
  </div>
  
<div class="products-wrapper">
    <% productFromDatabases.forEach(function(productu) { %>
      <div class="product-card">
        <div class="product-image">
            <a href="/product2/<%= productu.id %>">
                <img src="<%= productu.imageURL %>" alt="Product Image">


        </div>
        <div class="product-details">
          <h3 class="product-name"><%= productu.title %></h3>
          <p class="product-price">KZT<%= productu.price %></p>
          
        </a>
        </div>
      </div>
    <% }) %>
  </div>


<!-- Опционально: Подключение jQuery и Bootstrap JS для интерактивных элементов -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>






